@page "/Personas/{Action}/{PersonaId:int?}"
@rendermode InteractiveWebAssembly

<div class="container">
  <div class="container-header row mb-3">
    <div class="col-md-6">
      <h3>@Action Persona</h3>
    </div>
    <div class="col-md-6 text-md-end">
      @if (IsReadOnly) {
        <button type="button" class="btn btn-danger me-4" @onclick="Delete">
          <i class="bi bi-trash me-2"></i>Delete
        </button>
        <button type="button" class="btn btn-primary me-4" @onclick="EnableEdit">
          <i class="bi bi-pencil-square me-2"></i>Edit
        </button>
        <button type="button" class="btn btn-secondary" @onclick="GoBack" @onclick:preventDefault>
          <i class="bi bi-back me-2"></i>Back
        </button>
      }
      else {
        <button type="submit" class="btn btn-success me-4" form="persona-form">
          <i class="bi bi-save me-2"></i>Save
        </button>
        <button type="button" class="btn btn-secondary" @onclick="Cancel">
          <i class="bi bi-x-circle me-2"></i>Cancel
        </button>
      }
    </div>
  </div>

  <div class="container-body">
    <EditForm Model="@_persona" OnValidSubmit="Save" id="persona-form">
      <DataAnnotationsValidator />
      <ValidationSummary />

      <div class="mb-3">
        <label for="personaName" class="form-label">Name</label>
        <InputText id="personaName" class="form-control" @bind-Value="_persona.Name" disabled="@IsReadOnly" />
        <ValidationMessage For="@(() => _persona.Name)" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="_persona.Description" disabled="@IsReadOnly" />
        <ValidationMessage For="@(() => _persona.Description)" />
      </div>

      <!-- Personality -->
      @if (_persona.Personality.Count > 0 || !IsReadOnly) {
      <div class="mb-3">
        <div class="row mb-2">
          <div class="col">
            @if (!IsReadOnly) {
              <button class="btn btn-sm btn-primary me-2" @onclick="AddPersonality" @onclick:preventDefault>
                <i class="bi bi-plus-circle"></i>
              </button>
            }
            <label class="form-label">Personality</label>
          </div>
        </div>
        <ValidationMessage For="@(() => _persona.Personality)" />
        @foreach (var item in _persona.Personality) {
          <div class="row mb-2">
            <div class="col-md-1">
              @if (!IsReadOnly) {
                  <button class="btn btn-sm btn-danger" @onclick="() => RemovePersonality(item)" @onclick:preventDefault>
                  <i class="bi bi-trash"></i>
                </button>
              }
            </div>
            <div class="col-md-11">
                <InputText class="form-control" value="@item" @onchange="ev => UpdatePersonality(item, ev.Value)" disabled="@IsReadOnly" />
            </div>
          </div>
        }
      </div>
      }

      <!-- Conduct -->
      @if (_persona.Conduct.Count > 0 || !IsReadOnly) {
        <div class="mb-3">
          <div class="row mb-2">
            <div class="col">
              @if (!IsReadOnly) {
                <button class="btn btn-sm btn-primary me-2" @onclick="AddConduct" @onclick:preventDefault>
                  <i class="bi bi-plus-circle"></i>
                </button>
              }
              <label class="form-label">Conduct</label>
            </div>
          </div>
          <ValidationMessage For="@(() => _persona.Conduct)" />
          @foreach (var item in _persona.Conduct) {
            <div class="row mb-2">
              <div class="col-md-1">
                @if (!IsReadOnly) {
                  <button class="btn btn-sm btn-danger" @onclick="() => RemoveConduct(item)" @onclick:preventDefault>
                    <i class="bi bi-trash"></i>
                  </button>
                }
              </div>
              <div class="col-md-11">
                <InputText class="form-control" value="@item" @onchange="ev => UpdateConduct(item, ev.Value)" disabled="@IsReadOnly" />
              </div>
            </div>
          }
        </div>
      }

      <!-- Facts -->
      @if (_persona.Facts.Count > 0 || !IsReadOnly) {
      <div class="mb-3">
        <div class="row mb-2">
          <div class="col">
            @if (!IsReadOnly) {
              <button class="btn btn-sm btn-primary me-2" @onclick="AddFact" @onclick:preventDefault>
                <i class="bi bi-plus-circle"></i>
              </button>
            }
            <label class="form-label">Facts</label>
          </div>
        </div>
        <ValidationMessage For="@(() => _persona.Facts)" />
        @foreach (var item in _persona.Facts) {
          <div class="row mb-2">
            <div class="col-md-1">
              @if (!IsReadOnly) {
                <button class="btn btn-sm btn-danger" @onclick="() => RemoveFact(item)" @onclick:preventDefault>
                  <i class="bi bi-trash"></i>
                </button>
              }
            </div>
            <div class="col-md-11">
              <InputText class="form-control" value="@item" @onchange="ev => UpdateFact(item, ev.Value)" disabled="@IsReadOnly" />
            </div>
          </div>
        }
      </div>
      }

      <!-- Known Tools -->
      @if (_persona.KnownTools.Count > 0 || !IsReadOnly) {
      <div class="mb-3">
        <div class="row mb-2">
          <div class="col">
            @if (!IsReadOnly) {
              <button class="btn btn-sm btn-primary me-2" @onclick="OpenToolSelectionDialog" @onclick:preventDefault>
                <i class="bi bi-plus-circle"></i>
              </button>
            }
            <label class="form-label">Known Tools</label>
          </div>
        </div>
        <ValidationMessage For="@(() => _persona.Personality)" />
        <ul class="list-group">
          @foreach (var tool in _persona.KnownTools) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
              @tool.Name
              @if (!IsReadOnly) {
                <button class="btn btn-sm btn-danger" @onclick="() => RemoveTool(tool)">
                  <i class="bi bi-trash"></i>
                </button>
              }
            </li>
          }
        </ul>
      </div>
      }

    </EditForm>
  </div>
</div>

@if (_showToolSelectionDialog) {
<ToolSelectionDialog AvailableTools="_availableTools"
                     SelectedTools="_toolSelectionBuffer"
                     OnToolsSelected="FinishToolSelection"
                     OnCancel="CloseToolSelectionDialog" />
  }

@if (_showDeleteConfirmationDialog) {
<ConfirmationDialog Message="Are you sure you want to delete this tool?"
                    OnConfirm="ExecuteDelete"
                    OnCancel="CancelDelete" />
  }
