<div class="modal modal-lg fade show" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chat Setup</h5>
        <button type="button" class="btn-close" @onclick="Cancel"></button>
      </div>
      <div class="modal-body">

        <EditForm Model="@Chat" id="chat-form" OnValidSubmit="Save">
          <DataAnnotationsValidator />
          <div class="row mb-3">
            <div class="col-8">
              <label for="model" class="form-label me-2">AI Model</label>
              <InputSelect id="model" class="form-control me-2" @bind-Value="_selectedModel">
                @foreach (var model in _models) {
                  <option value="@model.Key">@model.Value</option>
                }
              </InputSelect>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-8">
              <label for="persona" class="form-label me-2">Agent Persona</label>
              <InputSelect id="persona" class="form-control me-2" @bind-Value="Chat.Agent.Persona">
                @foreach (var persona in _personas) {
                  <option value="@persona">@persona.Name</option>
                }
              </InputSelect>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-8">
              <label for="temperature" class="form-label">Temperature: @Chat.Agent.Temperature</label>
              <input id="temperature" type="range" class="form-control" @bind="Chat.Agent.Temperature" min="0" max="2" step="0.05" @oninput="UpdateTemperature" />
            </div>
          </div>
        </EditForm>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        <button type="submit" class="btn btn-primary" form="chat-form">Start</button>
      </div>
    </div>
  </div>
</div>
